<%- include('partials/header') %>
    

<% blogs.forEach(function(blog){ %>
    <div class="container">
        
        <div class="row">
          <!-- Latest Posts -->
          <div class="col-lg-2"></div>
          <main class="post blog-post col-lg-8"> 
            <div class="container">
              <div class="post-single"> 
                <div class="post-thumbnail"><img src="<%= blog.image %>" alt="..." class="img-fluid"></div>
                <div class="post-details">
                  <div class="post-meta d-flex justify-content-between">
                    <!-- <div class="category"><a href="#">Business</a><a href="#">Financial</a></div> -->
                  </div>
                  <h1><%=blog.title%><a href="#"><i class="fa fa-bookmark-o"></i></a></h1>
                  <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#" class="author d-flex align-items-center flex-wrap">
                      <div class="avatar"><img src="/img/avatar-1.jpg" alt="..." class="img-fluid"></div>
                      <div class="title"><span><%=blog.author%></span></div></a>
                    <div class="d-flex align-items-center flex-wrap">       
                      <div class="date"><i class="icon-clock"></i> <%=blog.created%></div>
                      <div class="views"><i class="icon-eye"></i> 500</div>
                      <div class="comments meta-last"><i class="icon-comment"></i>12</div>
                    </div>
                  </div>
                  <div class="post-body">
                    <p class="lead"><%-blog.body%></p>
                  </div>
                  <a class="btn btn-lg btn-outline-info" href="/blogs/<%=blog._id%>/edit">Edit Post</a>
                  <form class="delbutton" action="/blogs/<%=blog._id%>?_method=delete" method="POST">
                    <button class="btn btn-lg btn-outline-danger" type="submit">Delete Post</button>
                  </form>
                </div>
             </div>
            </div>
            </main>
            <div class="col-lg-2"></div>
        </div>
    </div>

    <% }) %>

<%- include('partials/footer') %>